# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
.project
.classpath
.settings/
.factorypath

# Node / Frontend
node_modules/
dist/
.env
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
desktop.ini
Thumbs.db
